# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
+ List of Popular Languages used by Data Scientists
+ List of Libraries
+ Data Science Tools List

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hour = 60
Convert = (Minutes/Hour)
print(Convert)

3.3333333333333335

## Author
Elton Nhiwatiwa